CMakeLists.txt
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
mongodb.so
run-test
*.sw*
install_manifest.txt
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
benchmarks/vendor
benchmarks/data/*.json
benchmarks/data/GRIDFS_LARGE
