CMakeLists.txt
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
mongodb.so
run-test
**/*.sw*
install_manifest.txt
**/*.diff
**/*.exp
**/*.log
**/*.out
**/*.php
**/*.sh
benchmarks/vendor
benchmarks/data/*.json
benchmarks/data/GRIDFS_LARGE
